In [47]:
import pandas as pd
import numpy as np

In [96]:
filename = './datasets/hw0_data.dat'

In [435]:
data = filename

In [436]:
index = int(input())

1

1. 把dat檔變成csv
2. 再用pandas調整欄位
3. 最後再輸出txt檔

In [437]:
import csv

with open('./datasets/hw0_data.dat') as dat_file, open('./file.csv', 'w') as csv_file:
    csv_writer = csv.writer(csv_file)

    for line in dat_file:
        row = [field.strip().lstrip(' , ') for field in line.split(' ')]           
        csv_writer.writerow(row)

In [438]:
import pandas as pd

In [439]:
col_name = ['0','1','2','3','4','5','6','7','8','9','10']

In [440]:
df = pd.read_csv("./file.csv",
                names = col_name, #只有這行 第一列資料會變成表頭，因此要加下一行代碼
                header = None) #代表我不要表頭，我已經幫你新增了

In [441]:
df.index = range(500)

In [442]:
df.head()

       0      1      2       3      4      5      6      7      8       9  10
0  4.115  5.020 -7.879 -11.780  2.004 -0.353 -0.735  3.561  2.441  -9.822   1
1 -3.557  0.997  2.932   7.672  5.430 -0.137  1.635 -5.190 -0.394  -7.667   1
2  6.417  5.878  5.066  -7.209 -6.953  7.639 -2.937 -1.023  3.963 -11.069   1
3 -2.247  6.532  6.437   2.293  6.302  2.187  3.429 -3.453  9.172  -4.548   1
4  3.708  5.834  3.676  -4.403 -5.296  9.080 -3.110 -3.294  3.189  -8.510   1

In [445]:
outputANS = df[df.index == index].sort_values(by=index,axis=1,ascending=True)

In [447]:
outputANS.to_csv('./ans1.txt', sep=',',header=0,index = 0) #不保留欄位名稱是header,不保留列的index才是index

In [446]:
outputANS

       9     7      0      8      5      1  10      6      2     4      3
1 -7.667 -5.19 -3.557 -0.394 -0.137  0.997   1  1.635  2.932  5.43  7.672